<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hortifruti</title>
    <!-- CSS styles -->
    <link rel="stylesheet" href="/style/style.css">
    <!-- Google Font Styles -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
</head>

<body>
    <h1>Lista do Hortifruti</h1>

    <div class="container">
        <ol>
            <% for(let product of products) { %>
            <div class="item">
                <li> <a href="/products/<%= product._id %> "><%= product.name %> </a> </li>
            </div>
            <% } %>
        </ol>

        <a href="/products/new" id="new_product">Cadastrar Produto</a>
    </div>


</body>

</html>